<h2>Club Memberships</h2>
<table>
    <thead>
        <tr>
            {{#each data.[0]}}
                {{#if (ne @key "studentHasClubID")}}
                    <th>
                        {{@key}}
                    </th>
                {{/if}}
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        {{!-- NOTE: attributes of 'this' need to match however they are aliased in the SELECT statement in app.js. Have to put them in [] since there are spaces --}}
        <tr>
            <td>{{this.[Student ID]}}</td>
            <td>{{this.[Student Name]}}</td>
            <td>{{this.[Club ID]}}</td>
            <td>{{this.[Club Name]}}</td>
            <td>{{this.[Club Role]}}</td>
            <td>{{this.[Page Num.]}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>