<h2>Sport Memberships</h2>
<table id = "sports-memberships-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        {{!-- NOTE: attributes of 'this' need to match however they are aliased in the SELECT statement in app.js. Have to put them in [] since there are spaces --}}
        <tr>
            <td>{{this.[Student ID]}}</td>
            <td>{{this.[Student Name]}}</td>
            <td>{{this.[Sport ID]}}</td>
            <td>{{this.[Sport Team]}}</td>
            <td>{{this.[Sport Role]}}</td>
            <td>{{this.[Page Num.]}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p> To add a new record, please enter information below and click 'Submit!' </p>
<form id = "add-sports-membership-form-ajax">
    {{!-- <label for="input-studentID"> Student ID: </label>
    <input type="text" name="input-studentID" id="input-studentID"> --}}

    <select name="input-studentID" id="input-studentID">
        <option value="">Select a Student</option>
        {{#each students}}
        <option value="{{this.studentID}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    {{!-- <label for="input-sportID"> Sport ID: </label>
    <input type="text" name="input-sportID" id="input-sportID"> --}}

    <select name="input-sportID" id="input-sportID">
        <option value="">Select a Sport</option>
        {{#each sports}}
        <option value="{{this.sportID}}">{{this.sportType}}</option>
        {{/each}}
    </select>

    <label for="input-sport-role"> Sport Role: </label>
    <select name="input-sport-role" id="input-sport-role">
        <option value="'Captain'">Captain</option>
        <option value="'Manager'">Manager</option>
        <option value="'Player'">Player</option>
    </select>

    <label for="input-page-number"> Page Number: </label>
    <input type="text" name="input-page-number" id="input-page-number">

    <input type = "submit">
</form>

{{!-- embed javascript to handle DOM manipulation and AJAX request --}}
<script src="./js/add_sportMembership.js"></script>