<h2>Sport Memberships</h2>
<table id = "sport-memberships-table">
    <thead>
        <tr>
            {{#each data.[0]}}
                {{#if (ne @key "studentHasSportID")}}
                    <th>
                        {{@key}}
                    </th>
                {{/if}}
            {{/each}}
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        {{!-- NOTE: attributes of 'this' need to match however they are aliased in the SELECT statement in app.js. Have to put them in [] since there are spaces --}}
        <tr data-value={{this.studentHasSportID}}>
            <td>{{convertNull this.[Student ID]}}</td>
            <td>{{convertNull this.[Student Name]}}</td>
            <td>{{this.[Sport ID]}}</td>
            <td>{{this.[Sport Team]}}</td>
            <td>{{this.[Sport Role]}}</td>
            <td>{{this.[Page Num.]}}</td>
            <td><button onclick="getSportMembership({{this.studentHasSportID}})">Edit</button></td>
            <td><button onclick="deleteSportMembership({{this.studentHasSportID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- 
-- Citation for add sport membership form AND student and sport foreign key dropdowns:
-- Date: 08/04/2024
-- Adapted from CS340 2024 Summer Term Node.js starter code Step 6
-- Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app 
--}}

<h3>Add a new sport membership</h3>
<p> To add a new record, please enter information below and click 'Submit!' </p>
<form id = "add-sport-membership-form-ajax">
    <select name="input-studentID" id="input-studentID">
        <option value="" selected disabled>Select a Student</option>
        {{#each students}}
        <option value="{{this.studentID}}">{{this.studentID}} {{this.firstName}} {{this.lastName}}</option>
        {{/each}}
        <option value=NULL>NULL</option>
    </select>

    <select name="input-sportID" id="input-sportID">
        <option value="" selected disabled>Select a Sport</option>
        {{#each sports}}
        <option value="{{this.sportID}}">{{this.varsityLevel}} {{this.sportType}}</option>
        {{/each}}
    </select>

    <label for="input-sport-role"> Sport Role: </label>
    <select name="input-sport-role" id="input-sport-role">
        <option value="" selected disabled>Select a role</option>
        <option value="Captain">Captain</option>
        <option value="Manager">Manager</option>
        <option value="Player">Player</option>
    </select>

    <label for="input-page-number"> Page Number: </label>
    <input type="text" name="input-page-number" id="input-page-number">

    <input type = "submit" value="Submit">
</form>

<script src="./js/add_sportMembership.js"></script>
<script src="./js/delete_sportMembership.js"></script>
<script src="./js/get_sportMembership.js"></script>